/* *{
    color: hotpink;
} */

/* h1{
    color: green;
} */

/* ! Third power */
/* .heading{
    color: chocolate;
} */
/*! 1.Higher power  */
/* #heading{
    color:blueviolet;
} */

/* ! Attribute selector has second power */
/* h1[class]{
    color: aquamarine;
} */